/* Cores:
        1. #003f5c
        2. #4c86af
        3. #547e9a

 */

/* Estrutura básica do HTML  */
body {
    margin: 0;
    background-color: white;
    color: white;
    font-family: "Arial", Helvetica, sans-serif; 
    max-width: 100%;
    overflow-x: hidden;       
}

footer {
    background-color: #547e9a;
    display: block;
}

li {
    list-style-type: none; 
}

h1 {
    align-items: center;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}


/* Selecione o Planejamento (página) */
.selecione_planejamento{
    background-color: #003f5c;
    width: auto;
    height: 40em;
    color: white;
    text-align: center;
    
}

#botão_empresa, #botão_pessoal {
    background-color: rgba(255, 255, 255, 0);
    padding: 1.5%;
    font-size: 20px;
    margin: 8%;
    margin-top: 18%;
    border-color: yellow;
    color: white;
}

#botão_empresa:hover {
    background-color: yellow;
    color: black;
}


/* Header */
.cabecalho{
    width: 100%;
    float: left; 
    padding: 3% 4%;

}

.logo{
    width: 5em;
    height: auto;
    float: left;
    margin-left: 3%;
    flex-direction: row;
    margin-top: -2%;
}

.header {
    overflow: hidden;
    background-color: #547e9a;
    height: 70px;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

a.logo:hover {
    background-color: #72acd391;
}

.estilo-a:hover {
    background-color: rgb(253, 245, 1);
    color: #003f5c;
}

.header-right {
    float: right;
    padding-top: 10px;

}


/* Footer */
.htext{
    font-size: 24px;
    color: #003148;
}

/* Formatação do rodapé */
.rodape {
    display: flex;
}

/* Formatação dos contato */
.contato{
    
    width: 30%;
    text-align: center;
}

/* Formatação das rede social*/
.redes_sociais{
    
    width: 30%;
    text-align: center;
}

.social{
    color: white;
}

/* Formatação do endereço */
.endereco{
    text-align: center;
    width: 40%;
}


/* index.html */
/* Formatção dos Id´s */
#principal {
    background-color: #003f5c;
    width: auto;
    height: 34em;
    margin-top: -3%;  
    color: lightgray;  
}
    
#incubadora{
    color: lightgray;
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
}
    
#paragrafo{
    color: lightgray;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 5%;
    padding-top: 1em;
}
    

/* Formatação "sobre": index */
.quem_somos {
    margin-top: -2%;
    background-color: white;
    width: 65em;
    margin: 0 auto;
    margin-top: 8%;
    border: 3px solid #547e9a;
    border-radius: 50px 0px 50px 0px;
    margin-bottom: 3%;
    height: 300px;
    margin-bottom: 10%;
}

.h2_somos{
    display:inline-table;
    margin-top: 5%;
    margin-left: 5%;
    color:black;
}
    
.p_somos{
    color: black;
    margin-left: 5%;
    text-align: justify;
    width: 65%;
}

.img_somos {
    width: 15%;
    float: right;
    margin-top: -18%;
    padding-right: 60px;   
}
    
.quem_somos_text {
    display: inline;
}


/* Dashboard */

.conteudo_principal_dashboard{
background: rgb(255, 255, 255);
color: #003148;


}

#grafico_teia{
margin-left: -25%;
margin-right: 25%;
width: 38%;
}

#grafico_barra{
width: 35%;
margin-left: -48%;
}

.conteudo_principal_dashboard img{
padding-left: 33%;
}

.conteudo_principal_dashboard p{
font-size: 30px;
text-align: center;
}

.medalhas {
display: grid;
grid-template-columns: repeat(3, 1fr);
position: center;
margin-top: 4%;
filter: saturate(0);

}   


/* empresa_planejamento.html */
#cabecalho{
    color: black;
    margin-bottom: 50px;
    text-align: center;
}

.button_planejmanento{
    background: #376275;
    border-radius: 10px 10px 10px 10px;
    margin-left: 40%;
    padding-right: 20px;
    margin-bottom: 2%;
}
.button_planejmanento:hover{
    margin-left: 37%;
    font-size: 24px;
    padding-right: 20px;
}

#conteudo_empresa_planejamento{
    color: black; 
    margin-bottom: 50px; 
    padding-left: 10%;
    display: flex;
}
.estilizacao_input_conteudo{
    border: solid 1px #2b2c2c;
    margin-top: 20px;
    height: 10%;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 10px 10px 10px 10px;
}
#table_empresa_planejamento{
    color: black; 
    width: 80%; 
    padding-bottom: 40px; 
    background-color: rgb(32, 50, 56);
    margin: 0 auto;
    border-radius: 20px;
}
.color_empresa_planejamento{
    background-color: rgb(255, 255, 255);
    color: black;
}

.colorth_empresa_planejamento{
    background-color: rgb(171, 192, 194);
}
.colorth_empresa_planejamento:hover{
    font-size: 20px;
}

/* Tela de login */
.login_form{
background-color: white;
text-align: center;
color: black;
width: 50%;
margin-left: 25%;
margin-top: 10%;
border:5px black;
border-radius: 10px 0px 10px 0px;
border-style: double;
padding: 1em;
border-radius: 20px 0px 20px 0;

}

#body_login{
background-color: #547e9a;
background-repeat: no-repeat;
width: 100%;
height: 100%;
}

.img_ietec_login{
float: right;
}

#botao_login{
border-radius: 10px;
 
}

/* monitoramento.html */
/* Formatação dos textos de monitoramento */
#titulo_monitoramento{
text-align: center;
color: #003148;
margin-top: 20px;
margin-bottom: 50px;
}

#table_monitoramento td{
padding: 15px;
}

#input_monitoramento{
text-align: center;
}

#titulo_table_monitoramento{
background-color: gray;
}

#table_monitoramento{
background-color: lightgray;
margin-top: 50px;
margin-bottom: 50px;
width: 100%;
color:#003148;
}

/* pessoal_planejamento.html */
#table_planejamento_pessoal{
color: black;
justify-content: center;
margin-inline: auto;
margin-top: 50px;
width: 100%;
}

#input_planejamento_pessoal{
text-align: center;
}

#h2_planejamento_pessoal{
margin-bottom: 50px;
margin-top: 10px;
text-align: center;
color: black;
}
.conteudo_planejamento_pessoal{
padding: 30px;
}


/* quem_somos.html */
.box_somos {
border: 3px solid black;
color: black;
border-radius: 20px 0px 20px 0px;
text-align: justify;
width: 90%;
display: block;
padding: 30px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 25px;
}

.galeria_img{
margin-left: 1%;

margin: 0 auto;
width: 90%;
height: 100%;
object-fit: cover;   

}

.grid_container {
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-bottom: 3%;
margin-left: 3%;
row-gap: 3%;
}   


#iframe_mapa{
text-align: center;
margin-bottom: 2%;


}




/* relatorios.html */
/* Página Relátorios */

/* Formatação do botão: criar*/
.criar{
    margin-top: 1.5%;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 8px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
}

/* Formatção dos Id´s */
#relatorio_principal {
    margin: 10em;
    text-align: center;
}

/* formatação dos Select */
#select1 {
    margin-bottom: 1.5%;
    margin-left: 0.8%;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 8px;
    width: 10%;
    background-color: rgba(0, 0, 0, 0);
}
#select2 {
    margin-bottom: 1.5%;
    margin-left: 0.8%;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 8px;
    width: 10%;
    background-color: rgba(0, 0, 0, 0);
}
#select3 {
    margin-bottom: 1.5%;
    margin-left: 0.8%;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 8px;
    width: 10%;
    background-color: rgba(0, 0, 0, 0);
}

/* Formatação do input: date*/
#data {
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
}

/* Tabela: Relatórios */
.tb_relatorios {
    border: 10px solid #003148;
    border-radius: 15px;
    width: 100%;
    color: white;
    background-color: #003148;
}

.borda_empresa {
    width: 75%;
    border: 1px hidden black;
    border-left: solid;
    
}

/* Formatação da coluna: empresa */
.borda_data {
    width: 25%;
    border: 1px hidden black;
    
}

/* Selecao.html */
#principal_selecao {
border-radius: 10px 0px 10px 0px;
border: 5px double black;
margin: 10%;
padding: 1em;
}

.h1_selecao {
text-align: center;
}

.p_selecao {
color: black;
}
